{% extends 'default.html' %}

{% block title %}Attività{% endblock %}

{% block content %}
    <link rel="stylesheet" href="/static/CSS/attivita.css">

    <div class="table-responsive">
        <table class="table table-bordered table-light table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">9 Febbraio</th>
                    <th scope="col">10 Febbraio</th>
                    <th scope="col">11 Febbraio</th>
                    <th scope="col">14 Febbraio</th>
                    <th scope="col">15 Febbraio</th>
                    <th scope="col">16 Febbraio</th>
                </tr>
            </thead>
            <tbody>
                {% for row in range(7) %}
                    <tr>
                        <th scope="row">{{row+1}}a ora</th>
                        {% for col in range(6) %}
                            {% if orario[col][row] != 0 %}
                                <td scope="col">
                                    {% for attivita in orario[col][row] %}
                                        <button type="button" class="btn btn-outline" data-bs-toggle="modal" data-bs-target="#activityModal"
                                            data-bs-id="{{ attivita['id_attivita'] }}"
                                            data-bs-nome="{{ attivita['nome_attivita'] }}"
                                            data-bs-descr="{{ attivita['descrizione'] }}"
                                            data-bs-resp="{{ attivita['responsabile'] }}"
                                            data-bs-aula="{{ attivita['nome_lab'] }}"
                                            data-bs-num_posti="{{ attivita['num_posti'] }}"
                                            data-bs-num_iscritti="{{ attivita['num_iscritti'] }}">
                                            {{ attivita["nome_attivita"] }}
                                        </button> <br>
                                    {% endfor %}
                                </td>
                            {% else %}
                                <td scope="col"></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="activityModal" tabindex="-1" aria-labelledby="activityModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="activityModalLabel">Attività</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <p class="descr"></p>
                    </div>
                    <div class="mb-3">
                        <p class="resp"></p>
                    </div>
                    <div class="mb-3">
                        <p class="aula"></p>
                    </div>
                    <div class="mb-3">
                        <p class="posti"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                    <button type="button" class="btn btn-success subscribe">Iscriviti</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        let activityModal = document.getElementById('activityModal')
        activityModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            let button = event.relatedTarget
            // Extract info from data-bs-* attributes
            let id = button.getAttribute('data-bs-id')
            let nome = button.getAttribute('data-bs-nome')
            let descr = button.getAttribute('data-bs-descr')
            let resp = button.getAttribute('data-bs-resp')
            let aula = button.getAttribute('data-bs-aula')
            let num_posti = button.getAttribute('data-bs-num_posti')
            let num_iscritti = button.getAttribute('data-bs-num_iscritti')

            let modalTitle = activityModal.querySelector('.modal-title')
            let modalDescr = activityModal.querySelector('.descr')
            let modalResp = activityModal.querySelector('.resp')
            let modalAula = activityModal.querySelector('.aula')
            let modalPosti = activityModal.querySelector('.posti')          
            
            modalTitle.textContent = nome
            modalDescr.textContent = descr
            modalResp.textContent = "Responsabile/i: " + resp
            modalAula.textContent = "Aula: " + aula
            modalPosti.textContent = "posti totali: " + num_posti + " numero iscritti: " + num_iscritti

            let modalSubscribe = activityModal.querySelector('.subscribe')
            modalSubscribe.onclick = function() {
                window.location.replace(window.location.pathname + "?actionType=create&id_attivita=" + id);
            }
        })
    </script>

{% endblock %}