{% extends 'default.html' %}

{% block title %}Orario{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/CSS/orario.css">

    <div class="container">
        <div class="row">
            <div class="col-1 no-border"></div>
            <div class="col">
                9 Febbraio
            </div>
            <div class="col">
                10 Febbraio
            </div>
            <div class="col">
                11 Febbraio
            </div>
            <div class="col">
                14 Febbraio
            </div>
            <div class="col">
                15 Febbraio
            </div>
            <div class="col">
                16 Febbraio
            </div>
        </div>
        {% for row in range(7) %}
            <div class="row">
                <div class="col-1" style="border: 2px solid black; display: flex; justify-content: center; align-items: center;">
                    {{row+1}}a ora
                </div>
                {% for col in range(6) %}
                    {% if orario[col][row] != 0 %}
                        <div class="col">
                            {{ orario[col][row] }}
                        </div>
                    {% else %}
                        <div class="col">
                            
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}